<div id="partners" class="reveal-modal expand">
    <a class="close-reveal-modal">&#215;</a>
    <h2>Nos partenaires</h2>
    <div class="row">
        <div class="large-4 push-8 columns center">
            <a href="http://www.gableroux.com/" target="_blank"><img alt="GabLeRoux" src="{{ '/assets/img/partenaires/gableroux-logo.png' | prepend: site.url }}"></a>
        </div>
        <div class="large-8 pull-4 columns">
            <h2>Gabriel Le Breton</h2>
            <p>Ami de Joey, programmeur, passionné des chats, des jeux vidéos et de la vie en général.</p>
            <a class="button" href="https://www.gableroux.com/" target="_blank">gableroux.com</a>
        </div>
    </div>
</div>