<div class="row margin-top-70 margin-bottom-100">

    <div class="large-5 columns center">
        <a href="#" data-reveal-id="services"><img src="{{ '/assets/img/woods.png' | prepend: site.url }}"></a>
    </div>

    <div class="large-7 columns">
        <h2>Expertise au Québec</h2>
        <p>
            Depuis plus de 30ans, nous oeuvrons dans le domaine des mines et du bois. Notre expertise avec les matières premières fait de nous une entreprise de choix pour l'avenir du Québec.
        </p>
        <p>
            <a class="button expand radius" href="#" data-reveal-id="services">Découvrez nos services »</a>
        </p>
    </div>
</div>

<div class="row margin-bottom-100">

    <div class="large-5 columns push-7 center">
        <a href="#" data-reveal-id="products"><img src="{{ '/assets/img/wooden-box.png' | prepend: site.url }}"></a>
    </div>

    <div class="large-7 columns pull-5">
        <h2>La qualité, une priorité</h2>
        <p>
            Notre travail acharné témoigne de notre professonnalisme. Nous travaillons avec les ressources naturelles du Québec et nous pouvons produire une gamme de produits uniques et exceptionnels.
        </p>

        <p>
            <a class="button expand radius" href="#" data-reveal-id="products">Visitez nos produits »</a>
        </p>
    </div>

</div>

<div class="row margin-bottom-100">

    <div class="large-5 columns center">
        <a href="#" data-reveal-id="partners"><img src="{{ '/assets/img/help.png' | prepend: site.url }}"></a>
    </div>

    <div class="large-7 columns">
        <h2>Partout dans le monde</h2>
        <p>
            Nous n'avons pas de limite, demandez et recevez. Voyez avec qui nous faisons affaire et ajoutez-vous à notre réseau
        </p>
        <p>
            <a class="button expand radius" href="#" data-reveal-id="partners">Voir nos partenaires »</a>
        </p>
    </div>
</div>

<div class="row margin-bottom-100">

    <div class="large-5 columns push-7 center">
        <a href="#" data-reveal-id="contact"><img src="{{ '/assets/img/contact.png' | prepend: site.url }}"></a>
    </div>

    <div class="large-7 columns pull-5">
        <h2>Parlez-nous</h2>
        <p>
            Notre entreprise est à l'écoute de ses clients, n'hésitez-pas à nous joindre pour vos questions et commentaires. Notre personnel dynamique est disiponible pour vous.
        </p>
        <p>
            <a class="button expand radius" href="#" data-reveal-id="contact">Pour nous joindre »</a>
        </p>
    </div>
</div>