<div id="contact" class="reveal-modal expand">
    <a class="close-reveal-modal">&#215;</a>
    <div class="row">
        <div class="columns large-6">
            <h2>Appelez-nous</h2>
            <h3>M. Donald Simard</h3>
            {% include call_us.html %}
        </div>
        <div class="large-6 columns">
            <h2>Écrivez-nous</h2>
            <blockquote>
                <p><strong>Scierie Simard Inc.</strong></p>
                <p>195, rue Biomasse</p>
                <p>Chapais, Qc</p>
                <p>G0W 1H0</p>
            </blockquote>
        </div>
    </div>
</div>

<!--
<div id="contact" class="reveal-modal expand">
    <a class="close-reveal-modal">&#215;</a>
    <div class="row">
        <h2>Écrivez-nous</h2>
        <form class="custom">
            <fieldset class="panel">
                <div class="row">
                    <div class="large-4 columns">
                        <label>Nom</label>
                        <input type="text" placeholder="Votre nom">
                    </div>

                    <div class="large-4 columns">
                        <label>Compagnie</label>
                        <input type="text" placeholder="Compagnie">
                    </div>

                    <div class="large-4 columns">
                        <label>Courriel</label>
                        <input type="text" placeholder="Courriel">
                    </div>
                </div>

                <div class="row">
                    <div class="large-8 columns">
                        <label for="subject">Sujet</label>
                        <select id="subject" class="large">
                            <option DISABLED>Sujets</option>
                            <option>Information générale</option>
                            <option>Commande</option>
                            <option>Partenariat</option>
                            <option>Probblème</option>
                            <option>Autre</option>
                        </select>
                    </div>

                    <div class="large-4 columns">
                        <label>Recevoir une copie du message</label>
                        <div class="switch">
                            <input id="x" name="switch-x" type="radio" checked>
                            <label for="x" onclick="">Non</label>

                            <input id="x1" name="switch-x" type="radio">
                            <label for="x1" onclick="">Oui</label>

                            <span></span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <label>Message</label>
                        <textarea placeholder="Votre message" cols="50" style="height: 140px;"></textarea>
                    </div>
                </div>

                <button type="submit" class="button expand radius">
                    Envoyer le message
                </button>
            </fieldset>
        </form>
    </div>
</div
>-->
